The purpose of gitignore files is to ensure that certain files 
not tracked by Git remain untracked. To stop tracking a file 
that is currently tracked, use git rm --cached to remove the 
file from the index. The filename can then be added to the 
.gitignore file to stop the file from being reintroduced in 
later commits.