.checked {
  color: #F4D06F;
}

body {
padding: 20px;
}

header {
  background-color: #212227;
  padding-bottom: 10px;
  padding-top: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  color: #fff8f0;
}

header h2 {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  color: #DAF0EE;
}

footer {
  text-align: center;
  background-color: #212227;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

footer h1 {
  font-size: 16px;
  font-weight: 700;
  color: #fff8f0;
}

footer h2 {
  font-size: 14px;
  font-weight: 500;
  color: #DAF0EE;
  font-style: italic;
}

#save-recipe-btn {
  background: #94D1BE;
  color: #212227;
  font-weight: 700;
}

#modal {
  display: none;
}

 .modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #212227;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-confirm {
  background: #94D1BE;
  color: #212227;
  font-weight: 700;
}

.button-cancel {
  background-color: #ff7070;
  color: #212227;
  font-weight: 700;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
    /* Reduced padding for smaller screens */
    .field {
      display: flexbox;
      flex-direction: column;
      /* Allows the whole page to switch to column view for better viewing experience*/
    }
  }
}